header {
  background: url(./img/header_bg.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    display: flex;
    justify-content: center;

    ul {
      display: flex; 
      align-items: center;
      justify-content: space-between;
      padding: 15px 20px;
      border: unset;
      max-width: 540px;
      width: 100%;

      a {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        color: #f0f0f0;
        padding: 20px 23px;
        display: block;
        line-height: 1;
        position: relative;
        z-index: 1;
        transition: .5s all ease-out;

        &:hover {
          color: #e4d804;
        }

        &.active {
          color: #e4d804;
        }
      }
    }
  }

  .btn {
    display: flex;
    gap: 10px;

    button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 10px 34px;
      border: 2px solid #e4d804;
      background-color: #171D22;
      border-radius: 50px;
      color: #f0f0f0;
      text-transform: uppercase;
      cursor: pointer;
      font-size: 14px;
      font-weight: 700;

      &:hover {
        color: black;
        background-color: #e4d804;
      }
    }
  }
  .burger {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    span {
      width: 100px;
      height: 3px;
      background-color: white;
    }
  }

  @media (max-width: 925px) {
    .burger {
      display: flex; 
      cursor: pointer;
    }
    nav {
      display: none;
    }
    nav.active {
      position: absolute;
      display: block;
      height: 100vh;
      background: url(./img/header_bg.jpg);
      top: 0;
      left: 0;
      z-index: 999;
      width: 300px;
      box-shadow: 1px 2px 20px #000;   
    }
    nav.active ul {
      position: absolute;
      display: block; 
      align-items: center;
      justify-content: space-between;
      padding: 15px 20px;
      border: unset;
      max-width: 540px;
      width: 100%;
    }
    .btn {
      display: none; 
    } 
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background: url(./img/header_bg.jpg);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
   form label {
    display: block;
    margin-bottom: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
  }
  
  form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form input[type="submit"] {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #171D22;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: #e4d804;
    
  }
}